# ACAI Solutions
# Copyright (C) 2025 ACAI GmbH
#
# This file is part of ACAI VECTO. Visit https://www.acai.gmbh or https://docs.acai.gmbh for more information.
# 
# Proprietary and Confidential - Licensed under ACAI Rahmen-Lizenzvertrag + Order Form (Subscription required)
# For full license text, see LICENSE file in repository root.
#
# For commercial licensing, contact: contact@acai.gmbh


pool:
  vmImage: ubuntu-latest

trigger:
- main

variables:
- group: VECTO_ACCESS_TOKEN

# S3 bucket for VECTO Terraform remote state as created by VECTO Preparation CloudFormation.
- name: awsVectoTfStateBucketName
  value: 'vecto-setup-tf-state-<VECTO_ACCOUNT_ID>'

# Azure DevOps service connection name for AWS access keys used by the setup pipeline.
- name: adoServiceConnectionAwsName
  value: 'vecto-setup-provisioner'

# Variable group name that holds pipeline secrets/PATs for the VECTO pipeline.
- name: adoVectoPipelineVariableGroupName
  value: 'VECTO_ACCESS_TOKEN'

# Base Git URL hosting the VECTO Terraform module repository. 
# If you host it in your own environment, put your URL.
- name: vectoRepoGitUrl
  value: 'github.com/acai-solutions/'

# Name of the Terraform module repository containing VECTO definitions.
# If you host it in your own environment, put your repository name.
- name: vectoRepoName
  value: 'terraform-aws-acai-vecto'

# Branch of the module repository to use for provisioning.
- name: vectoRepoBranchName
  value: '2.1.0'

# Name of the created OIDC-based Azure DevOps service connection used to access AWS. 
# The suffix 'aws-lz-prod' should represent the target AWS Organization.
- name: oidcAdoServiceConnectionName
  value: 'acai-vecto-oidc-connection-to-aws-lz-prod'

# Set to true if an existing OIDC provider for Azure DevOps is already deployed in AWS.
# This will be the case if you have a parallel VECTO installation running in the AWS Organization.
- name: oidcAwsProviderDeployed
  value: false

# Agent pool name used to run the AWS pipeline jobs.
- name: adoAgentPoolName
  value: 'Azure Pipelines'

# Display name of the VECTO pipeline created in Azure DevOps.
- name: adoVectoPipelineName
  value: 'Pipeline--VECTO'

# Repository name in Azure DevOps that will host the VECTO pipeline definitions.
- name: adoVectoPipelineRepoName
  value: 'AWS-LZ-VECTO'

# Branch name that will represent the AWS Organization.
- name: adoVectoPipelineReleaseBranchName
  value: 'aws-lz-prod'

# Optional prefix to segregate the VECTO Terraform states,
# in case of different parallel VECTO deployments in an AWS Organization.
- name: awsVectoTfStateFilePrefix
  value: ''

# Optional prefix to segregate the VECTO AWS resources,
# in case of different parallel VECTO deployments in an AWS Organization.
- name: awsResourceNamePrefix
  value: ''

# AWS region where the VECTO resources will be provisioned.
- name: awsRegionName
  value: 'eu-central-1'

# Terraform CLI version to be used by the pipelines.
- name: tfVersion
  value: '1.5.7'

stages:
- template: azure-pipelines-templates/10_terraform_preparation.yml
  parameters:
    awsVectoTfStateBucketName: $(awsVectoTfStateBucketName)
    adoServiceConnectionAwsName: $(adoServiceConnectionAwsName)
    adoVectoPipelineVariableGroupName: $(adoVectoPipelineVariableGroupName)
    vectoRepoGitUrl: $(vectoRepoGitUrl)
    vectoRepoName: $(vectoRepoName)
    vectoRepoBranchName: $(vectoRepoBranchName)
    oidcAdoServiceConnectionName: $(oidcAdoServiceConnectionName)
    oidcAwsProviderDeployed: $(oidcAwsProviderDeployed)
    adoAgentPoolName: $(adoAgentPoolName)
    adoVectoPipelineName: $(adoVectoPipelineName)
    adoVectoPipelinePathName: $(adoVectoPipelinePathName)
    adoVectoPipelineRepoName: $(adoVectoPipelineRepoName)
    adoVectoPipelineReleaseBranchName: $(adoVectoPipelineReleaseBranchName)
    awsVectoTfStateFilePrefix: $(awsVectoTfStateFilePrefix)
    awsResourceNamePrefix: $(awsResourceNamePrefix)
    awsRegionName: $(awsRegionName)
    tfVersion: $(tfVersion)

- template: azure-pipelines-templates/20_terraform_approval_apply.yml
  parameters:
    adoServiceConnectionAwsName: $(adoServiceConnectionAwsName)
    awsRegionName: $(awsRegionName)
    tfVersion: $(tfVersion)
